<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ff704d">



 <table border=1>
 <tr>
    <td>user</td>
    <td>user</td>
 </tr>

 <tr>
    <td> szállítási cím: </td>
    <td>1110 budapest deliveery ut 2</td>
 </tr>
 <tr>
    <td> telefonszám : </td>
    <td>1233456</td>
 </tr>

 <tr>
    <td> kiszállítás dátuma : </td>
    <td>1 1</td>
 </tr>

 <tr>
    <td> fizetés státusza : </td>
    <td>false</td>
 </tr>

 <tr>
    <td> kecske:  </td>
    <td>3 DARAB</td>
    <td>30</td>
 </tr>

 <tr>
    <td> kecske:  </td>
    <td>43 DARAB</td>
    <td>430</td>
 </tr>

 <tr>
    <td><strong> összesen: </strong></td>
    <td></td>
    <td><strong>460 Ft</strong></td>
 </tr>

 <tr>
    <td> + szállítás : </td>
    <td></td>
    <td>100 Ft</td>
 </tr>

 <tr>
    <td><strong> teljes fizetendő összeg: </strong></td>
    <td></td>
    <td>560 Ft</td>
  </tr>

  </table>

  </body>
</html>