<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Belépés ide: webshop</title>
    <link rel="icon" href="/auth/resources/8xs6e/login/keycloak/img/favicon.ico" />
    <link href="/auth/resources/8xs6e/common/keycloak/web_modules/@fortawesome/fontawesome-free/css/icons/all.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/common/keycloak/web_modules/@patternfly/react-core/dist/styles/base.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/common/keycloak/web_modules/@patternfly/react-core/dist/styles/app.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/common/keycloak/node_modules/patternfly/dist/css/patternfly.min.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/common/keycloak/node_modules/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/common/keycloak/lib/pficon/pficon.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/login/keycloak/css/login.css" rel="stylesheet" />
    <link href="/auth/resources/8xs6e/login/keycloak/css/tile.css" rel="stylesheet" />
</head>

<body class="">
<div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
        <div id="kc-header-wrapper"
             class="">webshop</div>
    </div>
    <div class="card-pf">
        <header class="login-pf-header">
            <div id="kc-locale">
                <div id="kc-locale-wrapper" class="">
                    <div class="kc-dropdown" id="kc-locale-dropdown">
                        <a href="#" id="kc-current-locale-link">Magyar</a>
                        <ul>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=de">Deutsch</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=no">Norsk</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=ru">Русский</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=sv">Svenska</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=pt-BR">Português (Brasil)</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=lt">Lietuvių</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=en">English</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=it">Italiano</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=fr">Français</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=hu">Magyar</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=zh-CN">中文简体</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=es">Español</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=cs">Čeština</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=ja">日本語</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=sk">Slovenčina</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=pl">Polski</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=da">Dansk</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=ca">Català</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=nl">Nederlands</a></li>
                            <li class="kc-dropdown-item"><a href="/auth/realms/webshop/login-actions/authenticate?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;kc_locale=tr">Türkçe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 id="kc-page-title">        Sign in to your account

            </h1>
        </header>
        <div id="kc-content">
            <div id="kc-content-wrapper">


                <div id="kc-form">
                    <div id="kc-form-wrapper">
                        <form id="kc-form-login" onsubmit="login.disabled = true; return true;" action="http://localhost:8080/auth/realms/webshop/login-actions/authenticate?session_code=xi-JnLs7a8wn8lPzJLfjjWilDiq7O9T67J5UghIwJOs&amp;execution=348e0df0-b2b8-43bb-952d-65f183c02c02&amp;client_id=webshop&amp;tab_id=KpF93Shs70E" method="post">
                            <div class="form-group">
                                <label for="username" class="pf-c-form__label pf-c-form__label-text">Email cím</label>

                                <input tabindex="1" id="username" class="pf-c-form-control" name="username" value=""  type="text" autofocus autocomplete="off"
                                       aria-invalid=""
                                />

                            </div>

                            <div class="form-group">
                                <label for="password" class="pf-c-form__label pf-c-form__label-text">Jelszó</label>

                                <input tabindex="2" id="password" class="pf-c-form-control" name="password" type="password" autocomplete="off"
                                       aria-invalid=""
                                />
                            </div>

                            <div class="form-group login-pf-settings">
                                <div id="kc-form-options">
                                    <div class="checkbox">
                                        <label>
                                            <input tabindex="3" id="rememberMe" name="rememberMe" type="checkbox"> Automatikus bejelentkezés
                                        </label>
                                    </div>
                                </div>
                                <div class="">
                                    <span><a tabindex="5" href="/auth/realms/webshop/login-actions/reset-credentials?client_id=webshop&amp;tab_id=KpF93Shs70E">Elfelejtette a jelszavát?</a></span>
                                </div>

                            </div>

                            <div id="kc-form-buttons" class="form-group">
                                <input type="hidden" id="id-hidden-input" name="credentialId" />
                                <input tabindex="4" class="pf-c-button pf-m-primary pf-m-block btn-lg" name="login" id="kc-login" type="submit" value="Belépés"/>
                            </div>
                        </form>
                    </div>

                    <div id="kc-social-providers" class="kc-social-section kc-social-gray">
                        <hr/>
                        <h4>Or sign in with</h4>

                        <ul class="pf-c-login__main-footer-links kc-social-links ">
                            <a id="social-facebook" class="pf-c-button pf-m-control pf-m-block kc-social-item kc-social-gray "
                               type="button" href="/auth/realms/webshop/broker/facebook/login?client_id=webshop&amp;tab_id=KpF93Shs70E&amp;session_code=xi-JnLs7a8wn8lPzJLfjjWilDiq7O9T67J5UghIwJOs">
                                <i class="kc-social-provider-logo kc-social-gray fa fa-facebook" aria-hidden="true"></i>
                                <span class="kc-social-provider-name kc-social-icon-text">Facebook</span>
                            </a>
                        </ul>
                    </div>

                </div>



                <div id="kc-info" class="login-pf-signup">
                    <div id="kc-info-wrapper" class="">
                        <div id="kc-registration-container">
                            <div id="kc-registration">
                    <span>Új felhasználó? <a tabindex="6"
                                             href="/auth/realms/webshop/login-actions/registration?client_id=webshop&amp;tab_id=KpF93Shs70E">Regisztráció</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>