<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




server.port=8081x
keycloak.enabled=true
keycloak.realm=webshop
keycloak.auth-server-url=http://localhost:8080/auth

keycloak.credentials.secret=5d5141a3-4e11-449d-9222-85110cfe08bb
keycloak.resource=webshop
keycloak.security-constraints[0].authRoles[0]=user
keycloak.security-constraints[0].securityCollections[0].name=admin stuff
keycloak.security-constraints[0].securityCollections[0].patterns[0]=/api/private/*
keycloak.use-resource-role-mappings=true




ez a privat oldal
</body>
</html>